<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ksacp2022.lifedrop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeDrop"
        tools:targetApi="31">
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AskChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".AdminManageChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".InboxActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".AdminCentersRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".QRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".MyRequestQRActivity"
            android:exported="false" />
        <activity
            android:name=".MyDonationRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".NearByDonorsActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentReviewActivity"
            android:exported="false" />
        <activity
            android:name=".DonationAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".AddBloodNeedActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".CheckEligibilityActivity"
            android:exported="false" />
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".AppealsMapActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddAppealActivity"
            android:exported="false" />
        <activity
            android:name=".CenterProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2NRJb2tyq5LOAnmyPRuNGWTWBhEwFcCI" />

        <activity
            android:name=".NearbyCentersMapActivity"
            android:exported="false"
            android:label="@string/title_activity_nearby_centers_map" />
        <activity
            android:name=".ChooseLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_choose_location" />
        <activity
            android:name=".CenterHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>